<div class="wrapper">
	<div 
		masonry-layout 
		[max-height]="150" 
		[gutter]="5"> 
		<!-- way 1 --> 
		<img *ngFor="let image of images;" src="/assets/img/{{image}}" style="width: 100%" />

		<!-- way 2 -->
		<img src="/assets/img/yi-sung-tsai-03.jpg" style="width: 100%" />
		<img src="/assets/img/yi-sung-tsai-08.jpg" style="width: 100%" />
		<img src="/assets/img/yi-sung-tsai-04.jpg" style="width: 100%" />

		<!-- way 3 -->
		<div>
			<img src="/assets/img/yi-sung-tsai-05.jpg" style="width: 100%" />
		</div>
		<div>
			<img src="/assets/img/yi-sung-tsai-06.jpg" style="width: 100%" />
		</div>
	</div>
</div>